body {
  background-color: #FFFFFF;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

#content-center {
  padding-right: 200px;
  padding-left: 200px;
}

nav {
  transition: background-color 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 1px black;
  box-sizing: border-box;
  padding-top: 5px;
  text-align: center;
  padding-bottom: 5px;
  position: fixed;
  width: 100vw;
}

nav li {
  list-style: none;
  display: inline-block;
}

nav a {
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-right: 50px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: overline;
  color: lightgreen;
}

nav.scroll {
  background-color: rgba(0, 0, 0, 0.5);
}

#section1 a {
  grid-area: content;
}

#section2 a {
  grid-area: content;
}


#section1 {
  background-image: url(../style/images/background6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /*Grid*/
  grid-template-columns: repeat(, 1fr);
  grid-template-areas:
    ". content .";
  display: grid;
}

#section1 h1 {
  font-family: 'Baloo Bhai', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #FFFFFF;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -470px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 45px;
  /*Grid*/
  grid-area: content;
  align-self: center;
  grid-column-start: 2;

}

#section1 h2 {
font-family: 'Baloo Bhai', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 150;
  font-size: 17px;
  color: #FFFFFF;
  /*Grid*/
  grid-area: content;
  align-self: center;
  grid-column-start: ;
  margin-top: 240px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 45px;
}

#arrow1 {
  grid-area: content;
  float: left;
  margin-top: 76vh;
  margin-left: -19.5px;
  display: block;
  height: 80px;
}

#arrow2 {
  grid-area: content;
  float: left;
  margin-top: 16vh;
  margin-left: -100px;
  display: block;
  height: 80px;
  transform: rotate(180deg);
}

#arrow3 {
  grid-area: content;
  float: left;
  margin-top: 76vh;
  margin-left: -100px;
  display: block;
  height: 80px;
}

#arrow4 {
  grid-area: content;
  float: left;
  margin-top: 16vh;
  margin-left: 55%;
  display: block;
  height: 80px;
  transform: rotate(180deg);
}

#music {
  grid-area: content;
  align-self: center;
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: -310px;
  opacity: 0.6;
}

#pepe{
margin-left: 50%;
grid-area: content;
align-self: center;
grid-column-start: 2;
grid-area: content;
height: 200px;
width: auto;
margin-top: 73vh;
}


#section2 {
  background-image: url(../style/images/background7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /*Grid*/
  grid-template-columns: repeat(, 1fr);
  grid-template-areas:
    ". content .";
  display: grid;
}

#section2 h1 {
  font-family: 'Baloo Bhai', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #FFFFFF;
  /*Grid*/
  grid-area: content;
  align-self: center;
  grid-column-start: 2;
  max-width: 300px;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 75px;
  padding-right: 75px;
  width: 100px;
  border-radius: 45px;
}

#section2 h2 {
  font-family: 'Baloo Bhai', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: 150;
    font-size: 17px;
    color: #FFFFFF;
    /*Grid*/
    grid-area: content;
    align-self: center;
    grid-column-start: ;
    margin-top: 150px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 45px;
}

#section3 {
  background-image: url(../style/images/background8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /*Grid*/
  grid-template-columns: repeat(, 1fr);
  grid-template-areas:
    ". content .";
  display: grid;
}

#section3 h1 {
  font-family: 'Baloo Bhai', cursive;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #FFFFFF;
  /*Grid*/
  grid-area: content;
  align-self: center;
  grid-column-start: 2;
  max-width: 600px;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 45px;
}

#section3 h2 {
  font-family: 'Baloo Bhai', cursive;
    text-transform: uppercase;
    text-align: center;
    font-weight: 150;
    font-size: 17px;
    color: #FFFFFF;
    /*Grid*/
    grid-area: content;
    align-self: center;
    grid-column-start: ;
    margin-top: 150px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border-radius: 45px;
}

@font-face {
  font-family: 'mijnfont';
  src: url(fonts/mijnfont.ttf);
}

@media only screen and (max-width: 1350px) {

}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 850px) {
  #landing-page h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 70px;
    color: #FFFFFF;
    /*Grid*/
    grid-area: content;
    align-self: center;
  }

  #landing-page h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    color: #FFFFFF;
    /*Grid*/
    grid-area: content;
    align-self: center;
    margin-top: 200px;
  }

}
